* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn.red {
    background-color: #cb101080;
}

.btn.blue {
    background-color: #0c26dd80;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    padding: 5px 6px;
    min-width: 20px;
    margin: 8px 2px;
}

.btn-s {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    outline: none;
    color: transparent;
    width: 23px;
    height: 23px;
    user-select: none;
}

.start-btn {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    min-height: 1000px;
    width: 100%;
    overflow: hidden;
    background-image: url(./img/back.jpg);
}

.container.turn-on {
    display: flex;
}

.container {
    background: #FDC830;
    background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    display: none;
    animation: FadeOn linear 0.3s;
    z-index: 1;
}

.col {
    height: 23px;
}

.header {
    color: #1529df;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 15px;
    padding-bottom: 5px;
}

.playerA.showup,
.playerB.showup {
    visibility: visible;
}
.playerB,
.playerA {
    color: #1529df;
    visibility: hidden;
}
.playerA {
    margin-right: auto;
}

.playerB {
    margin-left: auto;
}

.sub-header {
    color: rgb(68, 20, 241);
}

.play-area {
    background-color: #fff;
    width: 280px;
    height: 280px;
    text-align: center;
    margin: auto;
}



@keyframes FadeOn {
    from {
        opacity: 0;
        top: -50%
    }

    to {
        top: 50%;
        opacity: 1;
    }
}